@header-bg: #363635;
@background-color:#EBEEED;

body {
    background:@background-color;
}

nav.navbar-default {
    background:@header-bg;
    border-radius:0;
}
.navbar-default {
    .navbar-brand {
        color:#fff;
        &:hover {
            color:darken(#fff,20%);
        }
    }
    .navbar-nav {
        li {
            a {
                color:#fff;
                
                &:hover {
                    color:darken(#fff,20%);
                }
            }
        }
    }
}
