<template name="jumbotronLayout">
	{{>bertAlert}}
	<header>
        {{> header}}
    </header>
	<div class="jumbotron">
    	<div class="container">
    		{{> yield}}
    	</div>
    </div>
    <footer>
    	{{> footer}}
    </footer>
</template>
