<template name="jumbotronNarrowLayout">
	{{>bertAlert}}
	<div class="container">
    	<div class="header clearfix">
    	    {{> header}}
	    </div>
	    <div class="jumbotron">
    		{{> yield}}
    	</div>
    	<footer>
			{{> footer}}
		</footer>
    </div>
</template>
