<template name="header">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">{{constant 'name'}}</a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
            <!--		    <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Link</a></li>
                        </ul>
            -->
                        <ul class="nav navbar-nav navbar-right">
                        {{#if currentUser}}
                            <li><a class="btn logout" href="/sign-out">Sign out</a></li>
                        {{else}}
                            <li><a class="login" href="/sign-in">Sign in</a></li>
                            <li><a class="sign-up" href="/sign-up">Sign up</a></li>
                        {{/if}}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
</template>
